* {
    padding: 5px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    box-sizing: border-box;
    background-image: url('/Image/bg9.jpg');
    background-size: cover;
}

/*.my-class {
    background-image: url('image/bg9.jpg');
    background-size: cover;*/
}

.container {
    max-width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 25% 75%;
}

.input-infor {
    background: rgba(255, 249, 249, 0.7);
    width: 30%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 10px 10px 30px #ccc;
    animation: drop-shadow 5s ease-in-out infinite;
    color: #c9264f;
}

.note {
    font-size: 50px;
    font-family: cursive;
    color: #c9264f;
}

.input-infor h2 {
    margin-bottom: 20px;
    font-family: cursive;
}

.form-group {
    margin-bottom: 2px;
}

.form-control {
    background: rgba(255, 249, 249, 0.7);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.submit {
    background-color: #c9264f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: 2px 2px 12px white;
}

.submit:hover {
    cursor: pointer;
    background-color: #85a4e8;
    color: #fff;
    transform: scale(1.1);
    transition: 1s;
}

.output-infor {
    /* chỉnh độ mờ của màu thì đổi màu sang rgba*/
    background: rgba(255, 249, 249, 0.7);
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 10px 10px 30px #ccc;
    animation: drop-shadow 5s ease-in-out infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    padding: 20px;
    color: grey;
}

tr td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

tr td:last-child {
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#tbInfor tr:hover {
    background-color: #c9264f;
    color: white;
}

.table th {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 12px white;
    border-radius: 30px;
    background-color: #c9264f;
    box-shadow: 5px 5px 15px rgb(225, 178, 178);
    animation: drop-shadow 5s ease-in-out infinite;
}

.move {
    margin-top: 20px;
}

.edit {
    width: 50px;
    height: 25px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: #85a4e8;
}

.edit:hover {
    cursor: pointer;
    background-color: #c9264f;
    color: #fff;
    transform: scale(1.1);
    transition: 1s;
}
